<div id="hud">
  <a ng-click="startGame()" href="#/">New Game</a>
  <div ng-if="gameInProgress">Player {{currentPlayer}}'s turn</div>
</div>
<div id="board">
  <div class="legal-space pointer" ng-repeat="space in legalMoves" ng-style="{ 'left' : space.coordinates[0]-20+'px', 'top' : space.coordinates[1]-20+'px' }" ng-click="makeAMove(space)"></div>
  <div class="player-one-space" ng-class="(currentPlayer === 1) ? 'pointer' : ''" ng-repeat="space in playerOneSpaces" ng-style="{ 'left' : space.coordinates[0]-20+'px', 'top' : space.coordinates[1]-20+'px' }"></div>
  <div class="player-two-space" ng-class="(currentPlayer === 2) ? 'pointer' : ''" ng-repeat="space in playerTwoSpaces" ng-style="{ 'left' : space.coordinates[0]-20+'px', 'top' : space.coordinates[1]-20+'px' }"></div>
</div>

