body {
  margin: 0;
}

#hud {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}
#board {
  z-index: 1;
  position: relative;
  background: url("../../images/washington.png") no-repeat center;
  width: 1400px;
  height: 1259px;
}
.empty-space, .legal-space, .player-one-monster, .player-two-monster, .player-one-goal, .player-two-goal, .movable {
  width: 40px;
  height: 40px;
  z-index: 10;
  position: absolute;
  top: 631px;
  left: 178px;
}
.legal-space {
  background-color: #f00;
  border-radius: 20px;
  opacity: 0.8;
}
.player-one-monster, .player-one-movable {
  background: url("../../images/green-monster-small.png") no-repeat center;
}
.player-two-monster, .player-two-movable {
  background: url("../../images/blue-monster-small.png") no-repeat center;
}
.pointer {
  cursor: pointer;
}
.player-one-goal {
  background-color: #0f0;
}
.player-two-goal {
  background-color: #00f;
}
